<section class="content">
  <div class="container-fluid">
<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Quick Example</h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form [formGroup]="userForm" (ngSubmit)="addUser(userForm.value)">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1">Nom</label>
            <input type="text" formControlName="nom" class="form-control" id="exampleInputEmail1" placeholder="Enter Nom">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Prenom</label>
            <input type="text" formControlName="prenom" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
<!--          <div class="form-group">-->
<!--            <label for="exampleInputFile">File input</label>-->
<!--            <div class="input-group">-->
<!--              <div class="custom-file">-->
<!--                <input type="file" class="custom-file-input" id="exampleInputFile">-->
<!--                <label class="custom-file-label" for="exampleInputFile">Choose file</label>-->
<!--              </div>-->
<!--              <div class="input-group-append">-->
<!--                <span class="input-group-text">Upload</span>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="form-check">-->
<!--            <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--            <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--          </div>-->
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <!-- /.card -->




  </div>
  <!--/.col (left) -->

</div>
  </div>
</section>
