<section class="content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Responsive Hover Table</h3>
            <button class="btn btn-success float-left" value="Add new user"
            routerLink="add">Add new user</button>

            <div class="card-tools">

              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
              <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>

              <tr *ngFor="let user of users">
                <td><a [routerLink]="['/users/show/',user.num]">{{user.num}}</a></td>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <th><a class="btn btn-app" [routerLink]="['/edit/',user.num]">
                  <i class="fas fa-edit"></i> Edit
                </a>
                  <a class="btn btn-app" (click)="setSelectedUser(user.num)" data-toggle="modal" data-target="#myModal">
                    <i class="fas fa-trash"></i> Delete
                  </a>



              </tr>


              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    <!-- /.row -->


  </div>

  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Default Modal</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="deleteUser()">Save changes</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</section>
