

<app-appheader></app-appheader>

<app-appmenu></app-appmenu>

<!--<app-users></app-users>-->
<!--<app-dashboard></app-dashboard>-->
<div class="content-wrapper">
<router-outlet></router-outlet>
</div>

<app-appfooter></app-appfooter>




